* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.header{
  background-color: blue;
  color: white;
  text-align: start;
  padding: 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

.item-container{
  display: flex;
  align-items: center;
  padding: 10px 0;
  background-color: lightgray;
  margin: 3px 0;
}

.item-container input {
  width: 40px; 
  height: 40px;
  min-width: 40px;
  margin: 10px 20px;
}

.item-container p {
  text-align: start;
  flex-grow: 1;
  font-size: 20px;
}

.item-container svg{
  color: steelblue;
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin: 10px 20px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  font-size: 14px;
  height: 68px;
  padding-top: 10px;
}

.item-count{
  font-size: 25px;
}


